*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("images\ \(5\).jfif");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav{
    height: 100px;
    width: 100%;
    background-color: black;

}

h1{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-decoration: underline;

}

.con a{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

a{
    margin-top: 30px;
    text-decoration: none;
}